<div class="ask-container">
  <h1 class="h1">Stupid Coaching</h1>
  <div>
    <p class="ask-paragraph">Do you have anything to ask coach?</p>
    <form action="/answer" data-turbo="false">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
